[submodule "firmware/modules/surf"]
	path = firmware/submodules/surf
	url = git@github.com:slaclab/surf
[submodule "firmware/modules/ruckus"]
	path = firmware/submodules/ruckus
	url = git@github.com:slaclab/ruckus
[submodule "firmware/submodules/axi-pcie-core"]
	path = firmware/submodules/axi-pcie-core
  url = git@github.com:slaclab/axi-pcie-core
