[submodule "firmware/modules/surf"]
	path = firmware/submodules/surf
	url = git@github.com:slaclab/surf
	branch = rogue-base-block
[submodule "firmware/modules/ruckus"]
	path = firmware/submodules/ruckus
	url = git@github.com:slaclab/ruckus
	branch = master
[submodule "software/rogue"]
	path = software/rogue
	url = git@github.com:slaclab/rogue.git
	branch = base-block
